<a href="03_estate_info_ver3.html?memul_seq={{memul_seq}}" class="lst_item_type2">
    <span class="bx_img">
        {{#xif "this.hasOwnProperty('memul_photo1')"}}
        <img src="{{memul_photo1}}" alt="" width="150" height="150">
        {{else}}
        <img src="http://via.placeholder.com/150x150" alt="" width="150" height="150">
        {{/xif}}
    </span>
    <div class="bx_item_dsc">
        <div class="bx_align">
            <em class="tit ellipsis">{{sido}} {{gugun}} {{dong}} {{danji_name}}</em>
            <span class="dsc price">
                {{business_div_str}}
                {{#xif "sale_price != 0"}}
                <span class="unit">{{sale_price}}</span>
                {{/xif}}
                {{#xif "lease_price != 0"}}
                <span class="unit">{{lease_price}}</span>
                {{/xif}}
                {{#xif "month_deposit_price != 0"}}
                <span class="unit">{{month_deposit_price}}</span> / <span class="unit">{{month_price}}</span>
                {{/xif}}
                </span>
            <span class="dsc extent">{{contract_meter}} / {{use_meter}}㎡ {{contract_meter_py}} / {{use_meter_py}}평 {{corp_flr}} / {{ground_flr}}층 방{{room_count}} 욕실{{bath_count}}</span>
            <p class="dsc txt">{{memul_ad}}</p>
            <span class="tag_type">확인매물 <span>{{confirm_date}}</span></span>
            <input type="hidden" class="xPos" value="{{xpos}}">
            <input type="hidden" class="yPos" value="{{ypos}}">
        </div>
    </div>
</a>